Options +FollowSymlinks
RewriteEngine on

RewriteRule ^youtube$ https://www.youtube.com/channel/UC7qiOvlaBSiWyAb7R1xTaEw [NC]
RewriteRule ^discord$ https://discord.gg/NCN9VAh [NC]
RewriteRule ^download$ /docs/getstarted#install-vhdplus-ide [NC]
RewriteRule ^support$ /docs/community/overview#support [NC]
RewriteRule ^ias$ https://vhdplus.com/docs/components/onsemi_camera/ [NC]