/* "Copy" code block button */
pre {
    position: relative;
  }
  
  pre .btnIcon {
    position: absolute;
    top: 4px;
    z-index: 2;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0;
    color: rgb(3, 3, 3);
    background-color: transparent;
    height: 30px;
    transition: all .25s ease-out;
  }

  pre .language-name {
    position: absolute;
    top: -22px;
    left: 1px;
    z-index: 2;
    border: 1px solid transparent;
    padding: 0;
    color: rgb(7, 7, 7);
    background-color: transparent;
    height: 30px;
    transition: all .25s ease-out;
  }

  .hljs{
    margin-top: 30px !important;
  }

  .language-vhdp + .btnIcon{
      color: rgb(255, 255, 255);
  }
  
  pre .btnIcon:hover {
    text-decoration: none;
  }
  
  .btnIcon__body {
    align-items: center;
    display: flex;
  }
  
  .btnIcon svg {
    fill: currentColor;
    margin-right: .4em;
  }
  
  .btnIcon__label {
    font-size: 11px;
  }
  
  .btnClipboard {
    right: 10px;
  }