:root {
    --ifm-color-primary: hsl(200, 100%, 43%);
    --ifm-code-font-size: 95%;

    --ifm-container-width: 1300px;
  }

    .button--primary{
        border-color: white !important;
    }

    .button.button--outline:hover {
        background: #262a31;
      }
    
      .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
        height: 100%;
    }

    .fluidMedia {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    .fluidMedia iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /*VHDP Code styling*/

    .language-vhdp .hljs-comment {
        color: green;
    }

    .language-vhdp .hljs-linecomment {
        color: #608B4E;
    }

    .language-vhdp .hljs-string {
        color: fuchsia;
    }

    .language-vhdp .hljs-operators {
        color: #FF008B8B;
        font-weight: bold;
    }

    .language-vhdp .hljs-loopkeywords {
        color: #569CBA;
        font-weight: bold;
    }

    .language-vhdp .hljs-jumpkeywords {
        color: #FF000080;
    }

    .language-vhdp .hljs-controlflow {
        color: #569CBA;
        font-weight: bold;
    }

    .language-vhdp .hljs-keywords {
        color: #56D69C;
        font-weight: bold;
    }

    .language-vhdp .hljs-character {
        color: Fuchsia;
        font-weight: bold;
    }

    .language-vhdp .hljs-punctuation {
        color: DarkGreen;
    }

    .language-vhdp .hljs-digits {
        color: #B5CEA8;
        font-weight: bold;
    }

    .language-vhdp .hljs-methodname {
        color: MidnightBlue;
        font-weight: bold;
    }

    .language-vhdp .hljs-identifierkeywords {
        color: Blue;
    }

    