:root {
  --ifm-color-primary: hsl(200, 100%, 43%);
  --ifm-code-font-size: 95%;

  --ifm-container-width: 1396px;

  --ifm-navbar-background-color: #20232a;
  --ifm-navbar-search-input-background-color: #ebedf0;
  --ifm-navbar-shadow: transparent;
  --ifm-hr-border-width: 1px;

  --ifm-background-color: white;
}

html[data-theme='dark'] {
  --ifm-button-color: white;
}

.button {
  border: var(--ifm-button-border-width) solid
    var(--ifm-color-content-secondary) !important;
  margin: 1px;
}

.button.button--lg {
  --ifm-button-size-multiplier: 1.15;
}

.button--outline:hover {
  --ifm-button-background-color: #20232a;
  color: white;
}


div[class^='announcementBar'] {
  z-index: 1;
  border: 0px;
}

[data-theme="dark"] .navbar .menu__link--sublist::after {
  filter: invert();
}

[data-theme="dark"] .slick-dots li button::before{
  color: white;
}

.language-undefined code{
  background-color: rgb(246, 248, 250) !important;
}

html[data-theme='dark'] .language-undefined code {
  background-color: rgb(40, 42, 54)!important;
}

.language-undefined code .token-line{
  color: var(--ifm-font-color-base) !important;
}

main {
  position: relative;
  background-color: var(--ifm-background-color);

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header-youtube-link:hover {
  opacity: 0.6;
}

.header-youtube-link{
  margin-right: 5px;
  margin-left: -5px;
}

.header-youtube-link:before {
  display: flex;
  position: absolute;
  top: 0;
  content: '';
  z-index: -1;
  background: white;
  width: 10px;
  height: 10px;
  margin: 12px;
}

.header-youtube-link:after {
  content: '';
  width: 30px;
  height: 24px;
  display: flex;
  z-index: 10;
  background: url("data:image/svg+xml,%3Csvg fill='red' viewBox='0 0 576 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'/%3E%3C/svg%3E")
    no-repeat center;
}

.dropdown__menu{
  background-color: rgb(47, 50, 58);
}

.react-toggle, nav a, .navbar__search, .DocSearch, .navbar__toggle, .button, .navbar-sidebar__backdrop, .navbar__item{
  pointer-events: all;
}

.navbar__title{
  text-overflow: clip;
}

.markdown hr {
  border-bottom: 0;
}

video {
  max-width: 100%;
}

.footer.footer--dark {
  --ifm-footer-background-color: #20232a !important;
}

.navbar a {
  color: white !important;
}

.navbar .navbar__link:hover,
.navbar .navbar__link.navbar__link--active {
  color: var(--ifm-navbar-link-hover-color) !important;
}

.navbar__toggle {
  color: white;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  height: 100%;
}

.fluidMedia {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.fluidMedia iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar .navbar__search .navbar__search-input {
  color: black !important;
}

.bottomsplit {
  border-bottom: 1px rgba(182, 182, 182, 0.246) solid;
}

.wrap_src-css-customcodeblock-module .margin-vert--md{
  margin: 0 !important;
}

@media (max-width: 996px) {
  .coltext {
    order: 2;
  }

  .colimage {
    order: 1;
  }

  .hideMobile{
    display: none;
  }

  .roundcorner{
    border-radius: 1px;
  }
}

@media (min-width: 997px) {
  .hideDesktop{
    display: none;
  }
}
